<!DOCTYPE html>

<html lang="pl-PL">

<head>
    <title>Dentalcode</title>
    <meta name="google-site-verification" content="x_an-RZqueWdx1M-QJAQB1VZBtM1T-4eO8q8G1ZZpfw" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% block stylesheets %}
    <link href="{{ asset('styles/main.css') }}" rel="stylesheet" />
    <link href="{{ asset('styles/keyframes.css') }}" rel="stylesheet" />
    <link href="{{ asset('styles/header/header.css') }}" rel="stylesheet" />
    <link href="{{ asset('styles/footer/footer.css') }}" rel="stylesheet" />
    <link href="{{ asset('styles/home/home.css') }}" rel="stylesheet" />
    <link href="{{ asset('styles/kontakt/kontakt.css') }}" rel="stylesheet" />
    <link href="{{ asset('styles/admin-panel/admin-panel.css') }}" rel="stylesheet" />
    <link href="{{ asset('styles/form/form.css') }}" rel="stylesheet" />
    <link href="{{ asset('styles/wizyty/wizyty.css') }}" rel="stylesheet" />
    <link rel="icon" href="../../assets/header/fav.png">
    {% endblock %}

    {% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    {% endblock %}

</head>

<body>
    <header>

        <div class="wrapper">

            <div class="logo-container">
                <a href="/home"><img src="assets/header/logo2.svg" alt="dentalcode-logo"></a>
            </div>

            <div class="menu">
                <ul>
                    <!--<li class="active" id="logoutnbtn">Wyloguj się</li>-->
                    <li class="active" id="loginbtn">Zaloguj się</li>
                    <li><a href="/wizyty">Umów wizytę</a></li>
                    <li><a href="/kontakt">Kontakt</a></li>
                </ul>
                <input class="hamburger" type="image" src="assets/header/hamburger.png" alt="haburger">
            </div>

        </div>

        <div class="hidden-menu">
            <ul>
                <li class="active" id="loginbtn2">Zaloguj się</li>
                <li><a href="/wizyty">Umów wizytę</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
            </ul>
        </div>

        <div class="login-container">

            <div class="login-box">
                <div class="close-row">
                    <input class="close" type="image" src="assets/home/close.png" onclick="closeLoginContainer()"
                        alt="cross">
                </div>
                <h4>Zaloguj się</h4>
                <div>
                    {% include '/security/login2.html.twig' %}
                </div>

            </div>

            <div class="register-box">
                <div class="close-row">
                    <input class="close" type="image" src="assets/home/close.png" onclick="closeLoginContainer()"
                        alt="cross">
                </div>
                {% include '/registration/register.html.twig' %}
            </div>

        </div>

    </header>