{% include '/header/header.html.twig' %}

<section class="doctor-section">
    <div class="wrapper">
        {% for doctor in doctors %}
        <div class="single-doctor">
            <div class="img-container">
                <img src="../../assets/wizyty/doctor.png" alt="doctor">
            </div>
            <div class="dane">
                <p class="doctorId" style="display:none">{{ doctor.id }}</p>
                <p>Imie: {{ doctor.name }}</p>
                <p>Nazwisko: {{ doctor.surname }}</p>
                <p>Specjalizacja: {{ doctor.specialization }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    {{ include ('form/visitForm.html.twig') }}

</section>


<script>
    let header = document.getElementsByTagName("header")[0];
    header.style.position = "unset";
</script>


<script>
    const lgn = document.getElementById("loginbtn");
    lgn.style.display = "none";
    const lgn2 = document.getElementById("loginbtn2");
    lgn2.style.display = "none";
</script>

{% include '/footer/footer.html.twig' %}